[TCP] Too high advertisedWindow causes not enough space in receiveQueue

When you set `advertisedWindow` to a high value (eg 0xFFFFFFFF) the following expression produces wrong result

https://github.com/inet-framework/inet/blob/183afbb09ee314fa565bdb92e197f1a09d19f1c3/src/inet/transportlayer/tcp/TcpConnectionRcvSegment.cc#L134

Mea culpa!
The problem is not in the statement I referred but in my configuration.
`advertisedWindowPar` > 0x3FFFFFFF should not be allowed as per RFC 1323 section 2.3 (top of page 11).


> the above constraints imply that 2 * the max window size must be less than 2**31, or
> 
>            max window < 2**30

So maybe add check in the `void TcpConnection::configureStateVariables()`?

fixed in master